{{ partial "header.html" }}

<div class="jumbotron">
<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h3>We are a boutique consultancy firm specializing in production engineering.</h3>
			<a href="/services/">Services <span class="glyphicon glyphicon-circle-arrow-right"></span></a>
  	</div>
	</div>
</div>
</div>
<div class="container center">
	<div class="row">
		<h1>What is production engineering?</h1>
		<div class="col-md-4">
			<h3>Visibility</h3>
			<p>See whats going right and whats not.</p>
		</div>
		<div class="col-md-4">
			<h3>Changeability</h3>
			<p>Have stable and predictable releases.</p>
		</div>
		<div class="col-md-4">
			<h3>Reliability</h3>
			<p>Respond to changing user and infrustructure conditions without breaking.</p>
		</div>
	</div>
</div>

{{ partial "footer.html" }}
