<footer>
<div class="container">
	<div class="row">
		<div class="col-sm-6">
			<h5>ARMADA.IO</h5>
			<ul>
				<li><a href="/about/">About Us</a></li>
				<li><a href="/services/">Services</a></li>
				<li><a href="/blog/">Blog</a></li>
				<li><a href="mailto:hello@armada.io">Contact</a></li>
				<li><a href="http://github.com/armada-io">Github</a></li>
			</ul>
		</div>
  </div>
	<div class="row">
		<div class="col-sm-6">
			<h6 class="legal">Copyright 2015 Armada.io, LLC.</h6>
		</div>
  </div>
</div>
</footer>
</body>
</html>
